<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013733295926-44mn7rmnn4v8f5550f29pgn6u5htqbhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013733295926-44mn7rmnn4v8f5550f29pgn6u5htqbhg</string>
	<key>API_KEY</key>
	<string>AIzaSyC-HX47IovrGc0V7YyKk47Lucvhtc9ZEKE</string>
	<key>GCM_SENDER_ID</key>
	<string>1013733295926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doggystyle.DSGroomer</string>
	<key>PROJECT_ID</key>
	<string>doggystyle-development-b5e59</string>
	<key>STORAGE_BUCKET</key>
	<string>doggystyle-development-b5e59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013733295926:ios:083e123837062a87ffd597</string>
</dict>
</plist>