<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227362523264-h4mg5rm1ukf44c8blhu0dm89a6h3ibvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227362523264-h4mg5rm1ukf44c8blhu0dm89a6h3ibvq</string>
	<key>API_KEY</key>
	<string>AIzaSyDgQqE2rD0DRCA3RRobl7joQCBZA6hd5y0</string>
	<key>GCM_SENDER_ID</key>
	<string>227362523264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doggystyle.Project-Doggystyle-iOS</string>
	<key>PROJECT_ID</key>
	<string>doggystyle-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>doggystyle-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227362523264:ios:041925f00aa7877c37fe65</string>
	<key>DATABASE_URL</key>
	<string>https://doggystyle-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>